body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.elementor-divider{
    background-color: #2fade3;
        padding: 2px;
        margin-left: 100px;
        margin: 0px 747.07px 0px 0px;
        width: 100px;
        border-right: 1px  ;
        
        
    
    }

    h1{
        color: #152a47;
        font-weight: 800;
        font-family: roboto, sans-serif;
        text-align: justify;
        
        
    }
    


    .Sair{
        margin-left: 6px;
        margin-top: 5px;
    }
    
    
    .fa-solid {
        font-size: 24px;
    
    }
    
     .logado{
            color: #f0ffff;
            font-size: 27px;
        }



    #barra{
    background-image: linear-gradient(rgb(250, 238, 238), rgb(60, 0, 241));
    
        &:hover{
            color: red;
        }
    }

    .subtitulo{
        font-size: 30px;
        text-align: left;
    }

    .textos{
        font-size: 30px;
    }

    .iemig{
        bottom: 0;
        right: 0;
        position: absolute;
    }